version: "3.9"

services:
  web:
    build: .
    container_name: devops-web
    ports:
      - "8080:80"
    volumes:
      - ./src:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
